*{
  margin: 0;
  padding: 0;
}

.container{
  background-color: rgb(247, 151, 151);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#stopwatch{
  font-size: 100px;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}
#button{
  display: flex;
}
button{
  padding: 10px;
  font-size: large;
  background-color: rgb(245, 95, 95);
  border-radius: 10px;
  border: none;;
  width: 100px;
  margin: 10px;
  transition: all 0.5s;
}
button:hover{
  cursor: pointer;
}
